In [1]:
import pandas as pd

In [2]:
P = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
SVol = [25, 55, 50, 75, 110, 138, 90, 60, 10, 100]
Ing = [10, 18, 25, 40, 50, 63, 42, 30, 5, 55]

In [3]:
df = pd.DataFrame({'P':P, 'SVol':SVol, 'Ing':Ing})

In [4]:
df['SVol'].mean()

71.299999999999997

In [5]:
df['Ing'].mean()

33.799999999999997

In [6]:
df['yi-yh'] = df['SVol'] - df['SVol'].mean()
df

   Ing   P  SVol  yi-yh
0   10   1    25  -46.3
1   18   2    55  -16.3
2   25   3    50  -21.3
3   40   4    75    3.7
4   50   5   110   38.7
5   63   6   138   66.7
6   42   7    90   18.7
7   30   8    60  -11.3
8    5   9    10  -61.3
9   55  10   100   28.7

In [7]:
df['xi-xh'] = df['Ing'] - df['Ing'].mean()
df

   Ing   P  SVol  yi-yh  xi-xh
0   10   1    25  -46.3  -23.8
1   18   2    55  -16.3  -15.8
2   25   3    50  -21.3   -8.8
3   40   4    75    3.7    6.2
4   50   5   110   38.7   16.2
5   63   6   138   66.7   29.2
6   42   7    90   18.7    8.2
7   30   8    60  -11.3   -3.8
8    5   9    10  -61.3  -28.8
9   55  10   100   28.7   21.2

In [8]:
df['SSxy'] = df['xi-xh']*df['yi-yh']
df

   Ing   P  SVol  yi-yh  xi-xh     SSxy
0   10   1    25  -46.3  -23.8  1101.94
1   18   2    55  -16.3  -15.8   257.54
2   25   3    50  -21.3   -8.8   187.44
3   40   4    75    3.7    6.2    22.94
4   50   5   110   38.7   16.2   626.94
5   63   6   138   66.7   29.2  1947.64
6   42   7    90   18.7    8.2   153.34
7   30   8    60  -11.3   -3.8    42.94
8    5   9    10  -61.3  -28.8  1765.44
9   55  10   100   28.7   21.2   608.44

In [9]:
df['SSxx'] = df['xi-xh']**2
df

   Ing   P  SVol  yi-yh  xi-xh     SSxy    SSxx
0   10   1    25  -46.3  -23.8  1101.94  566.44
1   18   2    55  -16.3  -15.8   257.54  249.64
2   25   3    50  -21.3   -8.8   187.44   77.44
3   40   4    75    3.7    6.2    22.94   38.44
4   50   5   110   38.7   16.2   626.94  262.44
5   63   6   138   66.7   29.2  1947.64  852.64
6   42   7    90   18.7    8.2   153.34   67.24
7   30   8    60  -11.3   -3.8    42.94   14.44
8    5   9    10  -61.3  -28.8  1765.44  829.44
9   55  10   100   28.7   21.2   608.44  449.44

In [10]:
df['yh'] = 4.7 + df['Ing']*1.97
df

   Ing   P  SVol  yi-yh  xi-xh     SSxy    SSxx      yh
0   10   1    25  -46.3  -23.8  1101.94  566.44   24.40
1   18   2    55  -16.3  -15.8   257.54  249.64   40.16
2   25   3    50  -21.3   -8.8   187.44   77.44   53.95
3   40   4    75    3.7    6.2    22.94   38.44   83.50
4   50   5   110   38.7   16.2   626.94  262.44  103.20
5   63   6   138   66.7   29.2  1947.64  852.64  128.81
6   42   7    90   18.7    8.2   153.34   67.24   87.44
7   30   8    60  -11.3   -3.8    42.94   14.44   63.80
8    5   9    10  -61.3  -28.8  1765.44  829.44   14.55
9   55  10   100   28.7   21.2   608.44  449.44  113.05

In [11]:
df['yi-yih'] = df['SVol'] - df['yh']
df

   Ing   P  SVol  yi-yh  xi-xh     SSxy    SSxx      yh  yi-yih
0   10   1    25  -46.3  -23.8  1101.94  566.44   24.40    0.60
1   18   2    55  -16.3  -15.8   257.54  249.64   40.16   14.84
2   25   3    50  -21.3   -8.8   187.44   77.44   53.95   -3.95
3   40   4    75    3.7    6.2    22.94   38.44   83.50   -8.50
4   50   5   110   38.7   16.2   626.94  262.44  103.20    6.80
5   63   6   138   66.7   29.2  1947.64  852.64  128.81    9.19
6   42   7    90   18.7    8.2   153.34   67.24   87.44    2.56
7   30   8    60  -11.3   -3.8    42.94   14.44   63.80   -3.80
8    5   9    10  -61.3  -28.8  1765.44  829.44   14.55   -4.55
9   55  10   100   28.7   21.2   608.44  449.44  113.05  -13.05

In [12]:
df['yi-yih^2'] = df['yi-yih']**2
df

   Ing   P  SVol  yi-yh  xi-xh     SSxy    SSxx      yh  yi-yih  yi-yih^2
0   10   1    25  -46.3  -23.8  1101.94  566.44   24.40    0.60    0.3600
1   18   2    55  -16.3  -15.8   257.54  249.64   40.16   14.84  220.2256
2   25   3    50  -21.3   -8.8   187.44   77.44   53.95   -3.95   15.6025
3   40   4    75    3.7    6.2    22.94   38.44   83.50   -8.50   72.2500
4   50   5   110   38.7   16.2   626.94  262.44  103.20    6.80   46.2400
5   63   6   138   66.7   29.2  1947.64  852.64  128.81    9.19   84.4561
6   42   7    90   18.7    8.2   153.34   67.24   87.44    2.56    6.5536
7   30   8    60  -11.3   -3.8    42.94   14.44   63.80   -3.80   14.4400
8    5   9    10  -61.3  -28.8  1765.44  829.44   14.55   -4.55   20.7025
9   55  10   100   28.7   21.2   608.44  449.44  113.05  -13.05  170.3025

In [13]:
df['yih-ym'] = (df['yh'] - df['SVol'].mean())**2
df

,Ing,P,SVol,yi-yh,xi-xh,SSxy,SSxx,yh,yi-yih,yi-yih^2,yih-ym
0,10,1,25,-46.3,-23.8,1101.94,566.44,24.40,0.60,0.3600,2199.6100
1,18,2,55,-16.3,-15.8,257.54,249.64,40.16,14.84,220.2256,969.6996
2,25,3,50,-21.3,-8.8,187.44,77.44,53.95,-3.95,15.6025,301.0225
3,40,4,75,3.7,6.2,22.94,38.44,83.50,-8.50,72.2500,148.8400
4,50,5,110,38.7,16.2,626.94,262.44,103.20,6.80,46.2400,1017.6100
5,63,6,138,66.7,29.2,1947.64,852.64,128.81,9.19,84.4561,3307.4001
6,42,7,90,18.7,8.2,153.34,67.24,87.44,2.56,6.5536,260.4996
7,30,8,60,-11.3,-3.8,42.94,14.44,63.80,-3.80,14.4400,56.2500
8,5,9,10,-61.3,-28.8,1765.44,829.44,14.55,-4.55,20.7025,3220.5625
9,55,10,100,28.7,21.2,608.44,449.44,113.05,-13.05,170.3025,1743.0625

In [14]:
df['yi-ym'] = (df['SVol'] - df['SVol'].mean())**2
df

,Ing,P,SVol,yi-yh,xi-xh,SSxy,SSxx,yh,yi-yih,yi-yih^2,yih-ym,yi-ym
0,10,1,25,-46.3,-23.8,1101.94,566.44,24.40,0.60,0.3600,2199.6100,2143.69
1,18,2,55,-16.3,-15.8,257.54,249.64,40.16,14.84,220.2256,969.6996,265.69
2,25,3,50,-21.3,-8.8,187.44,77.44,53.95,-3.95,15.6025,301.0225,453.69
3,40,4,75,3.7,6.2,22.94,38.44,83.50,-8.50,72.2500,148.8400,13.69
4,50,5,110,38.7,16.2,626.94,262.44,103.20,6.80,46.2400,1017.6100,1497.69
5,63,6,138,66.7,29.2,1947.64,852.64,128.81,9.19,84.4561,3307.4001,4448.89
6,42,7,90,18.7,8.2,153.34,67.24,87.44,2.56,6.5536,260.4996,349.69
7,30,8,60,-11.3,-3.8,42.94,14.44,63.80,-3.80,14.4400,56.2500,127.69
8,5,9,10,-61.3,-28.8,1765.44,829.44,14.55,-4.55,20.7025,3220.5625,3757.69
9,55,10,100,28.7,21.2,608.44,449.44,113.05,-13.05,170.3025,1743.0625,823.69

In [15]:
df['yh'].sum()

712.8599999999999

In [16]:
df['yi-yih'].sum()

0.13999999999998991

In [17]:
df['yi-yih^2'].sum()

651.13279999999986

In [18]:
df['yih-ym'].sum()

13224.5568

In [19]:
df['yi-ym'].sum()

13882.1

In [20]:
import math

In [31]:
2.306*(math.sqrt(81.3912))*(math.sqrt(1/10)+(((15-33.8)**2)/(9*3407.6)))

6.818578099101429

In [24]:
df = pd.DataFrame({'P':P, 'SVol':SVol, 'Ing':Ing})

In [27]:
from patsy import dmatrices
patsy_formula = 'SVol ~ Ing'
y, x = dmatrices(patsy_formula, data=df, return_type='dataframe')

In [28]:
import statsmodels.api as sm
model = sm.OLS(y, x)
results = model.fit()
results.summary()

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   SVol   R-squared:                       0.953
Model:                            OLS   Adj. R-squared:                  0.947
Method:                 Least Squares   F-statistic:                     162.6
Date:                Mon, 18 Jul 2016   Prob (F-statistic):           1.35e-06
Time:                        08:51:24   Log-Likelihood:                -35.070
No. Observations:                  10   AIC:                             74.14
Df Residuals:                       8   BIC:                             74.75
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept      4.6979      5.952      0.789      0.453        -9.028    18.423
Ing            1.9705      0.155     12.750      0.000         1.614     2.327
==============================================================================
Omnibus:                        0.233   Durbin-Watson:                   1.495
Prob(Omnibus):                  0.890   Jarque-Bera (JB):                0.373
Skew:                           0.247   Prob(JB):                        0.830
Kurtosis:                       2.193   Cond. No.                         80.4
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""